{% extends "pairwise/base.html" %}

{% block content %}
    <h1>My Account</h1>

    <p>On this page there will be:</p>
    <ul>
        <li>account information</li>
        <li>a link to a form to update account information</li>
        <li><a href="/account/changepassword/">change password</a></li>
    </ul>
    <p>Your user ID is {{ accountid }}.</p>
    <p>The sets of student work you are assigned to assess are{% for set in allowed_sets_ids %} {{ set }}{% endfor %}.</p>

    {% if user_students %}
        <h4>Your students:</h4>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Student Code</th>
                <th>First</th>
                <th>Last</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Race/Ethnicity</th>
                <th>Economic Disadvantage</th>
                <th>English Learner</th>
                <th>Edit</th>
            </tr>
            {% for student in user_students %}
            <tr>
                <td>{{ student.idcode }}</a></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.birth_date }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.race }}</td>
                <td>{{ student.ed }}</td>
                <td>{{ student.el }}</td>
                <td><a href="{% url 'student' pk=student.id %} ">Update</a> / <a href="{% url 'deletestudent' pk=student.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You haven't added any students yet.</p>
    {% endif %}
    <p><a href="{% url 'addstudent' %}">Add a student.</a></p>


{% endblock %}