{% extends 'pairwise/base.html' %}
{% block content %}
    <body>
        <h4>Your Comparisons in Set {{ set }}:</h4>
        {% if comparisons %}
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Key</th>
                <th>Set</th>
                <th>Left (bold indicates win)</th>
                <th>Right (bold indicates win)</th>
                <th>Duration (h:m:s)</th>
            </tr>
            {% for comparison in comparisons %}
            <tr>
                <td>{{ comparison.pk }}</td>
                <td>{{ comparison.set.pk }}</td>
                <td><a href="{% url 'script_detail.html' pk=comparison.scripti.pk %}">
                    {% if comparison.wini > 0 %}<b>{% endif %}
                        {{ comparison.scripti.idcode_f }}
                    {% if comparison.wini > 0 %}</b>{% endif %}
                    </a>
                </td>
                <td><a href="{% url 'script_detail.html' pk=comparison.scriptj.pk %}">
                    {% if comparison.winj > 0 %}<b>{% endif %}
                        {{ comparison.scriptj.idcode_f }}
                    {% if comparison.winj > 0 %}</b>{% endif %}
                    </a>
                </td>
                <td>{{ comparison.duration_HHmm }}</td>
            </tr>
            {% endfor %}
        </table>
          {% else %}
            <p>You have not made any comparisons for set {{ set }}. Click <a href="{% url 'compare.html' set %}">here</a> to do your first comparison.</p>
          {% endif %}       
        <br>
    </body>
{% endblock %}