{% extends 'pairwise/base.html' %}
{% block content %}
    <body>
        <h1>Comparison List:</h1>
        {% if comparisons %}
        <table border="1" style="font-size:x-small; align-self: center;">
            <tr>
                <th>Key</th>
                <th>Set</th>
                <th>Judge</th>
                <th>Left Script</th>
                <th>Left Win</th>
                <th>Right Script</th>
                <th>Right Win</th>
                <th>Duration</th>
            </tr>
            {% for comparison in comparisons %}
            <tr>
                <td>{{ comparison.pk }}</td>
                <td>{{ comparison.set.pk }}</td>
                <td>{{ comparison.judge.pk }}</td>
                <td>{{ comparison.scripti.pk }}</td>
                <td>{{ comparison.wini }}</td>
                <td>{{ comparison.scriptj.pk }}</td>
                <td>{{ comparison.winj }}</td>
                <td>{{ comparison.duration }}</td>
            </tr>
            {% endfor %}
        </table>
          {% else %}
            <p>You have not made any comparisons for set {{ set }}. Click <a href="{% url 'compare.html' set %}">here</a> to do your first comparison.</p>
          {% endif %}       
        <br>
    </body>
{% endblock %}