{% extends 'pairwise/base.html' %}

{% block content %}
{% if scriptj %}
    <table>
        <thead>
            <th>Left Item</th>
            <th>Right Item</th>
        </thead>
        <tr>
            <!--Image:
            <td>{% if scripti.image %}<img src="{{ scripti.image.url }}" alt="Image for {{ scripti.id }}" style="width:425px;height:550px;">{% endif %}</td>
            <td>{% if scriptj.image %}<img src="{{ scriptj.image.url }}" alt="Image for {{ scriptj.id }}" style="width:425px;height:550px;">{% endif %}</td>
        </tr>
        <tr>-->
            <!--PDF:-->
            <td>{% if scripti.pdf %}<embed src="{{ scripti.pdf.url }}" type="application/pdf" scrollbar="1" view="fit" width="425px" height="550px" >{% endif %}</td>
            <td>{% if scriptj.pdf %}<embed src="{{ scriptj.pdf.url }}" type="application/pdf" scrollbar="1" view="fit" width="425px" height="550px" >{% endif %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <form method="POST" class="comparison-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="scripti" value="{{ scripti }}">
                    <input type="hidden" name="scriptj" value="{{ scriptj }}">
                    <input type="hidden" name="form_start_variable" value="{{ starttime }}">
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>
    </table>

{% else %}
    <h3>Ran out of comparisons to do</h3>
{% endif %}
    <p>Debug information:</p>
    <p>Start time: {{ starttime }}</p>
    <p>script selection array j[id, lodiff, rmse, se]: {{ j }}</p>
{% endblock %}