{% extends "pairwise/base.html" %}

{% block content %}
    <h1>Project Description</h1>
    <p>This webapp collects comparative judgment data that can be processed using Thurstone's Law of Comparative Judgment (CJ). Comparative Judgment is a measurement tool that can be used to estimate an unknown paramater attribute for a group of items from the perspective of one or more judges. The parameter investigated with this method should be a holistic attribute all items share to varying degrees, such as "overall quality."</p>
    <p>The value of collecting and crunching these data is from the information it provides about:</p>
    <ul>
        <li>The <b>items</b> being judged,</li>
        <li>The perception of the <b>judge(s)</b>, and</li>
        <li>An underlying <b>parameter</b>, to whatever degree known by researchers.</li>
    </ul>
    <p>A collection of <i>scripts</i>, or items being compared, can be managed from the <a href="/admin">admin</a> pages.</p>
    <br>
{% endblock %}