{% extends "pairwise/base.html" %}

{% block content %}
    <h1>Project Description</h1>
    <p>This webapp collects comparative judgment data that can be processed using Thurstone's Law of Comparative Judgment (CJ). Comparative Judgment is a measurement tool that can be used to estimate an unknown paramater attribute for a group of items from the perspective of one or more judges. The parameter investigated with this method should be a holistic attribute all items share to varying degrees, such as "overall quality."</p>
    <p>The value of collecting and crunching these data on this webapp comes from the resulting information about:</p>
    <ul>
        <li>The perception of the <b>judge(s)</b>, and</li>
        <li>An estimated measure of a <b>parameter</b>, quality, or characteristic of the items being compared.</li>
    </ul>
    <h4>Terms</h4>
    <ul>
        <li><dfn>Set</dfn> is the collection of items being compared.</li>
        <li><dfn>Script</dfn> is the term used in research literature on the topic for an item being compared.</li>
        <li><dfn>Estimate</dfn> is the estimated holistic value of item after comparison.</li>
        <li><dfn>Judge</dfn> is the person doing pairwise comparisons.</li>
        <li><dfn>Person ID</dfn> is the anonymous ID code that links an item to the person who created it.</li>
    </ul>
    <br>
{% endblock %}