{% extends 'pairwise/base.html' %}
{% block content %}
    <body>
        {% render_listing_header %}
        {% render_listing comparisons_as_model per_page=20 %}
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        {% render_listing_footer %}
    </body>
{% endblock %}