<div class="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="margin-left=1rem" href="#">Comparative Judgment Webapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class = "nav-item">
                        <a class="nav-link active" aria-curren="page" href="#">Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Compare
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.session.sets %}
                                {% for set in request.session.sets %}
                                <a class="dropdown-item" href="{% url 'compare.html' set %}">Set {{ set }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comparisons
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.session.sets %}
                                {% for set in request.session.sets %}
                                <a class="dropdown-item" href="{% url 'comparison_list.html' set %}">Set {{ set }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Results
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.session.sets %}
                                {% for set in request.session.sets %}
                                <a class="dropdown-item" href="{% url 'SetView' set %}">Set {{ set }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Scripts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.session.sets %}
                                {% for set in request.session.sets %}
                                <a class="dropdown-item" href="{% url 'scripts' set %}">Set {{ set }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <li class = "nav-item">
                        Please <a href="/admin/">log in</a>.
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>