{% extends 'pairwise/base.html' %}

{% block content %}
    <div class="container-fluid">   
        <p>Set: {{ script.set }}</p>
        <p>Person ID Code: {{ script.idcode_f }}</p>
        <p>Uploaded by user {{ script.user.id }} </p>
        <div class="ratio" style="--bs-aspect-ratio: 150%;">
            {% if script.pdf.url %}
                <embed src="{{ script.pdf.url }}" type="application/pdf" scrollbar="1" view="fit" width="100%" height="100%" >
            {% endif %}
        </div>
    </div>
{% endblock %}