{% extends 'pairwise/base.html' %}

{% block content %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/sankey.js"></script>
    <script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <body>
        <h5>Scripts in Set {{ set }} with stats for users {% for judge in judges %} {{ judge }},{% endfor %} average of Spearman's rank correlation coefficient {{ a }}</h5>
        {% if script_table %}
            <br><br>
            <figure class="highcharts-figure">
                <div id="container1"></div>
                <p class="highcharts-description">
                    Scores of scripts in this set appear in black on the chart with error bars at 95% confidence interval by the left y axis. The number of comparisons combined appears in blue on the right y axis. Scripts with no score at top or bottom of distribution are not represented on this chart.
                </p>
            </figure>
            <script>
                Highcharts.chart('container1', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Script Scores with Error Bars'
                    },
                    xAxis: [{
                        categories: {{ scriptids|safe }}
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Score',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Comparisons',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }],

                    tooltip: {
                        shared: true
                    },

                    series: [{
                        name: 'Comparisons',
                        type: 'scatter',
                        yAxis: 1,
                        data: {{ comparisonsn|safe }},
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
                        }
                    }, 
                        {
                        name: 'Score',
                        type: 'scatter',
                        data: {{ scores|safe }},
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
                        }
                    }, {
                        name: 'Score error',
                        type: 'errorbar',
                        data: {{ scoreerrors|safe }},
                        tooltip: {
                            pointFormat: '(error range: {point.low}-{point.high})<br/>'
                        }
                    }]
                });
            </script>
            <br><br>
            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    Each color arc on this dependency wheel represents a judge with multiple weighted links to other judges. The weight of each link is the Spearman's rho ranked correlation coefficient. Minimum rho represented is .60.
                </p>
            </figure>
            <script>
                Highcharts.chart('container', {

                    title: {
                        text:  "Similarities Between Judges"
                    },

                    accessibility: {
                        point: {
                            valueDescriptionFormat: '{index}. From {point.from} to {point.to}: {point.weight}.'
                        }
                    },

                    series: [{
                        keys: ['from', 'to', 'weight'],
                        data: {{ chart_data|safe }},                     
                        type: 'dependencywheel',
                        name: 'Dependency wheel series',
                        dataLabels: {
                            color: '#333',
                            textPath: {
                                enabled: true,
                                attributes: {
                                    dy: 5
                                }
                            },
                            distance: 10
                        },
                        size: '95%'
                    }]

                });
            </script>
            <br><br>
            <h5>Data Table</h5>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Person ID Code</th>
                    <th>Rank</th>
                    <th>Wins</th>
                    <th>Comps</th>
                    <th>P</th>
                    <th>Same P</th>
                    <th>&sigma;(p)</th>
                    <th>SE(p)</th>
                    <th><i>I</i>(p)</th>
                    <th>Logit &phi;</th>
                    <th>Low 95% CI</th>
                    <th>Estimate</th>
                    <th>High 95% CI</th>
                    <!--<th>Percentile</th>-->
                </tr>
                {% for script in script_table %}
                <tr>
                    <td><a href="{% url 'script_detail.html' pk=script.id %}">{{ script.idcode_f }}</a></td>
                    <td>{{ script.rank }}</td>
                    <td>{{ script.wins }}</td>
                    <td>{{ script.comps }}</td>
                    <td>{{ script.probability }}</td>
                    <td>{{ script.samep }}</td>
                    <td>{{ script.stdev }}</td>
                    <td>{{ script.se }}</td>
                    <td>{{ script.fisher_info }}</td>
                    <td>{{ script.logit }}</td>
                    <td>{{ script.lo95ci }}</td>
                    <td>{{ script.ep }}</td>
                    <td>{{ script.hi95ci }}</td>
                    <!--<td>{{ script.percentile }}</td>-->
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <table class="table" style="text-align: center;">
                <tr>
                    <td>Combinations of Three Judges</td>
                </tr>
                <tr>
                    <td style="text-align: center;">{{ stats|safe }}</td>
                </tr>
            </table>
        {% else %}
            <p>There are no scripts for you in this set in the database. </p>
        {% endif %}   
    </body>
{% endblock %}