{% extends 'pairwise/base.html' %}

{% block content %}
     <!-- <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    [put brackets here] chart_list|load_charts:"cht, cht2" }}-->
    <body>
        <h4>Scripts in Set {{ set }} with all current computations for {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}:</h4>
        <!--div id='cht'> First chart will be rendered here </div>
        <div id='cht2'> Second chart will be rendered here </div-->
        {% if script_table %}
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Person ID Code</th>
                    <th>Rank</th>
                    <th>Wins</th>
                    <th>Comps</th>
                    <th>Prob</th>
                    <th>RMSE(p)</th>
                    <th>Same P</th>
                    <th>SD(p)</th>
                    <th>LO &phi;</th>
                    <th>I(&phi;)</th>
                    <th>SE(&phi;)</th>
                    <th>&theta; low 95%CI</th>
                    <th>MLE &theta;</th>
                    <th>&theta; high 95% CI</th>
                </tr>
                {% for script in script_table %}
                <tr>
                    <td><a href="{% url 'script_detail.html' pk=script.id %}">{{ script.idcode_f }}</a></td>
                    <td>{{ script.rank }}</td>
                    <td>{{ script.wins }}</td>
                    <td>{{ script.comps }}</td>
                    <td>{{ script.probability }}</td>
                    <td>{{ script.rmse }}</td>
                    <td>{{ script.samep }}</td>
                    <td>{{ script.stdev }}</td>
                    <td>{{ script.logodds }}</td>
                    <td>{{ script.fisher_info }}</td>
                    <td>{{ script.se }}</td>
                    <td>{{ script.lo95ci }}</td>
                    <td>{{ script.ep }}</td>
                    <td>{{ script.hi95ci }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no scripts for you in this set in the database. </p>
        {% endif %}   
    </body>
{% endblock %}