{% extends 'pairwise/base.html' %}

{% block content %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    {% load chartit %}
    {{ chart_list|load_charts:"cht, cht2" }}
    <body>
        <h1>Script List with Current Computations:</h1>
        <p>Set {{ set.pk }}; Correlation estimated to actual: {{ set.cor_est_to_actual }}; Comparisons: {{ listcount }}; Average diff from actual: {{ diffs }}.</p>
        <div id='cht'> First chart will be rendered here </div>
        <div id='cht2'> Second chart will be rendered here </div>
        {% if user.is_superuser %}
            {% if scriptj is not None %}
            <table>
                <tr>
                    <td>
                        <form method="POST" class="autocomparisonform">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="scripti" value="{{ scripti }}">
                            <input type="hidden" name="scriptj" value="{{ scriptj }}">
                            <!--<input type="hidden" name="select_method" value="{{ orderby }}">-->
                            <input type="submit" value="Autocompare {{ scripti.id }} & {{ scriptj.id }}">
                        </form>
                    </td>
                </tr>
            </table>
            {% else %}<h1>Ran out of scripts to pair.</h1>
            {% endif %}
        {% endif %}
        {% if script_table %}
                <table border="1" style="font-size:x-small">
                    <tr>
                        <th>User</th>
                        <th>Script</th>
                        <th>Comps</th>
                        <th>Wins</th>
                        <th>Prob</th>
                        <th>RMSE(p)</th>
                        <th>Same P</th>
                        <th>SD(p)</th>
                        <th>LO &phi;</th>
                        <th>I(&phi;)</th>
                        <th>SE(&phi;)</th>
                        <th>&theta; low 95%CI</th>
                        <th>MLE &theta;</th>
                        <th>&theta; high 95% CI</th>
                        <th>Actual</th>
                    </tr>
                    {% for script in script_table %}
                    <tr>
                        <td>{{ script.user.pk }}</td>
                        <td><a href="{% url 'script_detail' pk=script.pk %}">{{ script.pk }}</a></td>
                        <td>{{ script.comps_in_set }}</td>
                        <td>{{ script.wins_in_set }}</td>
                        <td>{{ script.prob_of_win_in_set }}</td>
                        <td>{{ script.rmse_in_set }}</td>
                        <td>{{ script.count_same_p }}</td>
                        <td>{{ script.stdev }}</td>
                        <td>{{ script.lo_of_win_in_set }}</td>
                        <td>{{ script.fisher_info }}</td>
                        <td>{{ script.se }}</td>
                        <td>{{ script.lo95ci }}</td>
                        <td>{{ script.estimated_parameter_in_set }}</td>
                        <td>{{ script.hi95ci }}</td>
                        <td>{{ script.parameter_value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            <!--</div>-->
        {% else %}
            <p>There are no scripts in the database. Head to the <a href="/admin">admin</a> section to upload a set of them.</p>
        {% endif %}   
    </body>
{% endblock %}