{% extends 'pairwise/base.html' %}

{% block content %}
<div class="container-fluid"> 
    <h2>Script Detail</h2>
    <p>Script ID {{ script.idcode }} in set(s) {% for set in script.sets.all %}{{ set }} {% endfor %}uploaded by user {{ script.user.id }}.</p>
    <p>For student <a href="/student/{{ script.student.id }}">{{ script.student }}</a>, age {{ script.age }}, grade {{ script.grade }} on {{ script.date }} test date.</p>

    {% if form %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save script information shown above">    
        </form>
        {% if message %}
            <p>{{ message }} {{ time }}</p>
            <br>
        {% endif %}
    {% endif %}        
    <div class="ratio" style="--bs-aspect-ratio: 150%;">
        {% if script.pdf.url %}
            <embed src="{{ script.pdf.url }}" type="application/pdf" scrollbar="1" view="fit" width="100%" height="100%" >
        {% endif %}
    </div>
</div>
{% endblock %}