{% extends 'pairwise/base.html' %}

{% block content %}
    <table>
        <tr>
            <td>
                <p>Set: {{ script.set }}</p>
                <p>ID: {{ script.pk }}</p>
                <p>
                {% if script.pdf %}
                    <embed src="{{ script.pdf.url }}" type="application/pdf" scrollbar="1" view="fit" width="425px" height="550px" >
                {% endif %}
                </p>
                <p><a href="{% url 'script_edit' pk=script.pk %}">Edit</a></p>
            </td>
        </tr>
    </table>
{% endblock %}