{% extends "pairwise/base.html" %}

{% block content %}
    {% if set_scripts %}
        <h3>Set {{ pk }} results for {{ user }}:</h3>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Student ID Code</th>
                <th>Rank</th>
                <th>Comparisons</th>
                <th>&theta; Estimate low 95%CI</th>
                <th>Estimate &theta;</th>
                <th>Estimate &theta; high 95% CI</th>
            </tr>
            {% for script in set_scripts %}
            <tr>
                <td><a href="{% url 'script_detail.html' pk=script.id %}">{{ script.idcode }}</a></td>
                <td>{{ script.rank }}</td>
                <td>{{ script.comps }}</td>
                <td>{{ script.lo95ci }}</td>
                <td>{{ script.ep }}</td>
                <td>{{ script.hi95ci }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no scripts in set {{ pk }}.</p>
    {% endif %}
{% endblock %}