{% extends "pairwise/base.html" %}

{% block content %}
    {% if set_scripts %}
        <h4>Your Set {{ pk }} Results:</h4>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Person ID Code</th>
                <th>Rank</th>

                <th>Wins</th>
                <th>Comparisons</th>
                <th>Probabilty</th>
                <th>&theta; low 95%CI</th>
                <th>Estimate &theta;</th>
                <th>&theta; high 95% CI</th>
            </tr>
            {% for script in set_scripts %}
            <tr>
                <td><a href="{% url 'script_detail.html' pk=script.id %}">{{ script.idcode_f }}</a></td>
                <td>{{ script.rank }}</td>
                <td>{{ script.wins }}</td>
                <td>{{ script.comps }}</td>
                <td>{{ script.probability }}</td>
                <td>{{ script.lo95ci }}</td>
                <td>{{ script.ep }}</td>
                <td>{{ script.hi95ci }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no scripts in set {{ pk }}.</p>
    {% endif %}
{% endblock %}