{% extends 'pairwise/base.html' %}

{% block content %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/sankey.js"></script>
    <script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
        h5 {text-align: center; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;}
        h6 {text-align: center; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;}
    </style>
    <body>
        <h5>Set {{ set }} Statistics</h5>
        <h6>For judges {% for judge in judges %} {{ judge }},{% endfor %} with average of Spearman's rank correlation coefficient (rho) {{ a }}</h6>
        {% if script_table %}
            <br><br>
            <figure class="highcharts-figure">
                <div id="container1"></div>
                <p class="highcharts-description">
                    Scores of scripts in this set appear in black on the chart with error bars at 95% confidence interval by the left y axis. The Fisher information appears in blue on the chart by the right y axis. Scripts with no score at top or bottom of distribution are not represented on this chart.
                </p>
            </figure>
            <script>
                Highcharts.chart('container1', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Scores with 95% CI and Fisher information'
                    },
                    xAxis: [{
                        categories: {{ scriptids|safe }}
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Score',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Fisher Info',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }],

                    tooltip: {
                        shared: true
                    },

                    series: [{
                        name: 'Fisher Info',
                        type: 'scatter',
                        yAxis: 1,
                        data: {{ fisher|safe }},
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
                        }
                    }, 
                        {
                        name: 'Score error',
                        type: 'errorbar',
                        data: {{ scoreerrors|safe }},
                        tooltip: {
                            pointFormat: '(error range: {point.low}-{point.high})<br/>'
                        },
                        stemWidth: 2,
                        color: '#ddd',
                        whiskerLength: 6
                    },
                    {
                        name: 'Score',
                        type: 'scatter',
                        data: {{ scores|safe }},
                        marker: {
                            symbol: 'url(https://compare.drawingtest.org/media/images/gradientpoint.png)'
                        },
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
                        } 
                    },                
                ]
                });
            </script>
            <br><br>
            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    Each color arc on this dependency wheel represents a judge with multiple weighted links to other judges. The weight of each link is the Spearman's rank correlation coefficient (rho). Minimum rho represented is .60.
                </p>
            </figure>
            <script>
                Highcharts.chart('container', {

                    title: {
                        text:  "Similar rankings between judges"
                    },

                    accessibility: {
                        point: {
                            valueDescriptionFormat: '{index}. From {point.from} to {point.to}: {point.weight}.'
                        }
                    },

                    series: [{
                        keys: ['from', 'to', 'weight'],
                        data: {{ corr_chart_data|safe }},                     
                        type: 'dependencywheel',
                        name: 'Dependency wheel series',
                        dataLabels: {
                            color: '#333',
                            textPath: {
                                enabled: true,
                                attributes: {
                                    dy: 5
                                }
                            },
                            distance: 10
                        },
                        size: '95%'
                    }]

                });
            </script>
            <br><br>
            <h5>Ranks and scores</h5>
            <p>
                The table below shows an estimated rank and score for each script. Click a Person ID Code to visit the script's page. Estimated scores are computed from the logit and their confidence intervals are computed from logit and Fisher information of the logit. There's a 95% probability that repeated measures with the same judges will fall within the confidence interval, and most likely they will fall much closer to the score estimate. Percentile ranks are within this set.
            </p>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Person ID Code</th>
                    <th>Rank</th>
                    <th>Wins</th>
                    <th>Comps</th>
                    <th>P &theta;</th>
                    <th>SE(&theta;)</th>
                    <th>Logit &phi;</th>
                    <th>Fisher info (&phi;)</th>
                    <th>Low 95% CI</th>
                    <th>Score</th>
                    <th>High 95% CI</th>
                    <th>Percentile</th>
                </tr>
                {% for script in script_table %}
                <tr>
                    <td><a href="{% url 'script_detail.html' pk=script.id %}">{{ script.idcode_f }}</a></td>
                    <td>{{ script.rank }}</td>
                    <td>{{ script.wins }}</td>
                    <td>{{ script.comps }}</td>
                    <td>{{ script.probability }}</td>
                    <td>{{ script.se }}</td>
                    <td>{{ script.logit }}</td>
                    <td>{{ script.fisher_info }}</td>
                    <td>{{ script.lo95ci }}</td>
                    <td>{{ script.ep }}</td>
                    <td>{{ script.hi95ci }}</td>
                    <td>{{ script.percentile }}</td>
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <h5>All combinations of judges</h5>
            <table class="table" style="text-align: center; font-size: smaller;">
                <tr>
                    <td style="text-align: center;">{{ corrstats|safe }}</td>
                </tr>
            </table>
        {% else %}
            <p>There are no stats for you from this set in the database. </p>
        {% endif %}   
    </body>
{% endblock %}