{% extends "pairwise/base.html" %}

{% block content %}
<h2>Student Information</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save student information shown above">    
</form>
<br>
<h4><a href='/account/'>Return to account page</a> or <a href="/script/add/">add a script</a>.</h4>
<h4>Scripts uploaded for your student {{ student.first_name }} {{ student.last_name }}</h4>
{% if scripts %}
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>ID Code</th>
            <th>Grade</th>
            <th>Age</th>
            <th>Date</th>
            <th>Sets</th>
            <th>Edit</th>
        </tr>
        {% for script in scripts %}
        <tr>
            <td>{{ script.idcode_f }}</td>
            <td>{{ script.grade }}</td>
            <td>{{ script.age }}</td>
            <td>{{ script.date }}</td>
            <td>
                {% for set in script.sets.all %}
                    {{ set.id }}  
                {% endfor %}
            </td>
            <td><a href="{% url 'script' pk=script.id %}">Update</a> | <a href="{% url 'deletescript' pk=script.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No scripts related to this student yet.</p>
{% endif %}


{% endblock %}