{% extends "pairwise/base.html" %}

{% block content %}
<h2>Student Information</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save as shown above">    
</form>
{% if message %}
    <p>{{ message }} {{ time }}</p>
    <br>
{% endif %}
<p><a href='/account/'>Return to account page.</a></p>
<br>
<br>

<h3>Scripts uploaded for your student {{ student.first_name }} {{ student.last_name }}</h3>
{% if scripts %}
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>ID Code</th>
            <th>Grade</th>
            <th>Age</th>
            <th>Date</th>
            <th>Sets</th>
        </tr>
        {% for script in scripts %}
        <tr>
            <td><a href="{% url 'script.html' pk=script.id %}">{{ script.idcode_f }}</a></td>
            <td>{{ script.grade }}</td>
            <td>{{ script.age }}</td>
            <td>{{ script.date }}</td>
            <td>
                {% for set in script.sets.all %}
                    {{ set.id }}  
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No scripts related to this student yet. Click here to add a script.</p>
{% endif %}


{% endblock %}