*.pyc
*~
/.vscode
__pycache__
db.sqlite3
/static
.DS_Store
acjapp/.env
*.code-workspace
venv
settings.py
acjapp/pairwise/migrations/

# specific to pythonanywhere
.env                                                                                                                                                                                                     
acjapp/static/css/

# do not back up the media we upload
acjapp/media

