*.pyc
*~
/.vscode
__pycache__
db.sqlite3
/static
.DS_Store
acjapp/.env
*.code-workspace
venv

# specific to pythonanywhere
.env                                                                                                                              
acjapp/pairwise/migrations/0031_remove_script_image.py                                                                            
acjapp/static/css/
