*.pyc
*~
/.vscode
__pycache__
db.sqlite3
/static
.DS_Store
acjapp/.env
*.code-workspace
venv
settings.py
acjapp/pairwise/migrations/
.env                                                                                                                                                                                                     
acjapp/static/css/

# pythonanywhere keys
compare.drawingtest.org.csr
compare.drawingtest.org.key

# do not back up the media we upload
acjapp/media

*.csv
*.sql
