[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
numpy = "*"
python-decouple = "*"
scipy = "*"
datetime = "*"
django-import-export = "*"
pandas = "*"
django-chartit = "*"
django-utils-six = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
