/* The alert message box */
.message_box {
  padding: 20px;
  color: white;
  background-color: black;
  margin-bottom: 15px;
}

/* Message box for success */
.success {
  background-color: #2196F3; /* Blue */
}

/* Message box for warning */
.warning {
  background-color: #f44336; /* Red */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

h5 {
  text-align: center; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
h6 {
  text-align: center; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}