{% extends 'pairwise/base.html' %}

{% block content %}
    <table>
        <thead>
            <th>Left Item</th>
            <th>Right Item</th>
        </thead>
        <tr>
            <!--<td>Image:</td>-->
            <td>{% if scripti.image %}<img src="{{ scripti.image.url }}" alt="Image for {{ scripti.id }}" style="width:200px;height:300px;">{% endif %}</td>
            <td>{% if scriptj.image %}<img src="{{ scriptj.image.url }}" alt="Image for {{ scriptj.id }}" style="width:200px;height:300px;">{% endif %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <form method="POST" class="comparison-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="scripti" value="{{ scripti }}">
                    <input type="hidden" name="scriptj" value="{{ scriptj }}">
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>
    </table>
    {{ j }}
{% endblock %}